/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

 :root {
  /* colors */
  --clr-red: #ed1c24;
  --clr-black: #1b1b1b;
  --clr-white: #fff;
  --text-color: var(--clr-black);
  --link-color: var(--clr-red);
  --link-hover-color: var(--clr-red);
  --primary-button-color: var(--clr-black);
  --secondary-button-color: var(--clr-red);
  --background-color: var(--clr-white);
  --overlay-background-color: #eee;
  --highlight-background-color: #ccc;
  
  /* fonts */
  --heading-font-family: arial, verdana, "sans serif";
  --body-font-family: arial, verdana, "sans serif";
  --fixed-font-family: "Roboto Mono", menlo, consolas, "Liberation Mono", monospace;

  /* body sizes */
  --body-font-size-m: 1.115rem;
  --body-font-size-s: 1.025rem;
  
  /* sizes */
  --heading-font-size-xxl: 1.75rem;
  --heading-font-size-xl: 1.25rem;
  --heading-font-size-l: 1rem;
  --heading-font-size-m: 0.825rem;
  --heading-font-size-s: 0.750rem;

  /* nav height */
  --nav-height: 100px;

  /* crn variables */
  --padding-spacer-x: 1.5rem;
  --padding-spacer-y: 0;
}

@media (min-width: 900px) {
  :root {
    --heading-font-size-xxl: 1.75rem;
    --heading-font-size-xl: 1.25rem;
    --heading-font-size-l: 1rem;
    --heading-font-size-m: 0.825rem;
    --heading-font-size-s: 0.750rem;
  }
}

body {
  font-size: var(--body-font-size-m);
  margin-left: auto;
  margin-right: auto;
  font-family: var(--body-font-family);
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
  height: 100%;
  width: 100%;
  max-width: 1140px;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 { font-size: var(--heading-font-size-xxl) }
h2 { font-size: var(--heading-font-size-xl) }
h3 { font-size: var(--heading-font-size-l) }
h4 { font-size: var(--heading-font-size-m) }
h5 { font-size: var(--heading-font-size-s) }

p, dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

b {
  font-weight: bolder;
  font-size: var(--body-font-size-m)
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--overlay-background-color);
}

code, pre, samp {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code, samp {
  padding: .125em;
}

pre {
  overflow: scroll;
}

main pre {
  background-color: var(--overlay-background-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
  height: 100%;
  width: 100%;
}

a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: none;
}

/* buttons */
a.button:any-link, button {
  font-family: var(--body-font-family);
  color: var(--primary-button-color);
  display: inline-block;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  cursor: pointer;
  text-transform: uppercase;
}

a.button:hover, a.button:focus, button:hover, button:focus  {
  text-decoration: none;
  cursor: pointer;
}

button:disabled, button:disabled:hover {
  background-color: var(--overlay-background-color);
  cursor: unset;
}

a.button.secondary, button.secondary {
  background-color: unset;
  color: var(--secondary-button-color)
}

a.button.secondary::after, button.secondary::after {
  content: '';
  display: inline-block;
  width: var(--body-font-size-m);
  height: var(--body-font-size-m);
  background: url('../icons/play-fill.svg') no-repeat;
  background-size: contain;
  margin-left: 2px;
  position: relative;
  transform: translateY(12%);
}

main input {
  font-size: 1.25rem;
  width: 100%;
  max-width: 50rem;
  display: block;
  margin-bottom: 1rem;
  padding: 0.75rem 0.6rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--background-color);
}

main input:hover {
  border: 1px solid var(--text-color);
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
  content: "“";
  line-height: 0;
}

main blockquote p::after {
  content: "”";
  line-height: 0;
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon svg {
  height: 100%;
  width: 100%;
}

main {
  padding-left: 12px;
  padding-right: 12px;
}

main .section {
  margin-top: 24px;
  margin-left: 0;
  margin-right: 0;
  padding-left: var(--padding-spacer-x, 0.75rem);
  padding-right: var(--padding-spacer-x, 0.75rem);
}

@media (min-width: 576px) {
  main .section {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  main .section {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  main .section {
    max-width: 960px;
  }
}

/* section metadata */
main .section.highlight {
  background-color: var(--highlight-background-color);
}
